--
-- PostgreSQL database dump
--

\restrict T7SBau4uUfwU1bgWG2VGQajyaXswuk8oYgH25s7mEMH65yZfPZuf975HvTDUZok

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: ambientes_tipo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ambientes_tipo_enum AS ENUM (
    'PREPARO',
    'ATENDIMENTO'
);


ALTER TYPE public.ambientes_tipo_enum OWNER TO postgres;

--
-- Name: comandas_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.comandas_status_enum AS ENUM (
    'ABERTA',
    'FECHADA',
    'PAGA'
);


ALTER TYPE public.comandas_status_enum OWNER TO postgres;

--
-- Name: funcionarios_cargo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.funcionarios_cargo_enum AS ENUM (
    'ADMIN',
    'CAIXA',
    'GARCOM',
    'COZINHA'
);


ALTER TYPE public.funcionarios_cargo_enum OWNER TO postgres;

--
-- Name: itens_pedido_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.itens_pedido_status_enum AS ENUM (
    'FEITO',
    'EM_PREPARO',
    'PRONTO',
    'ENTREGUE',
    'CANCELADO',
    'DEIXADO_NO_AMBIENTE',
    'QUASE_PRONTO',
    'RETIRADO'
);


ALTER TYPE public.itens_pedido_status_enum OWNER TO postgres;

--
-- Name: mesas_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.mesas_status_enum AS ENUM (
    'LIVRE',
    'OCUPADA',
    'RESERVADA',
    'AGUARDANDO_PAGAMENTO'
);


ALTER TYPE public.mesas_status_enum OWNER TO postgres;

--
-- Name: pedidos_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.pedidos_status_enum AS ENUM (
    'FEITO',
    'EM_PREPARO',
    'PRONTO',
    'ENTREGUE',
    'CANCELADO'
);


ALTER TYPE public.pedidos_status_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aberturas_caixa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aberturas_caixa (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    turno_funcionario_id uuid NOT NULL,
    funcionario_id uuid NOT NULL,
    "dataAbertura" date NOT NULL,
    "horaAbertura" time without time zone NOT NULL,
    "valorInicial" numeric(10,2) DEFAULT 0 NOT NULL,
    observacao text,
    status character varying DEFAULT 'ABERTO'::character varying NOT NULL,
    "criadoEm" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "atualizadoEm" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.aberturas_caixa OWNER TO postgres;

--
-- Name: ambientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ambientes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    tipo public.ambientes_tipo_enum DEFAULT 'ATENDIMENTO'::public.ambientes_tipo_enum NOT NULL,
    is_ponto_de_retirada boolean DEFAULT false NOT NULL
);


ALTER TABLE public.ambientes OWNER TO postgres;

--
-- Name: avaliacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.avaliacoes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "comandaId" uuid NOT NULL,
    "clienteId" uuid,
    nota integer NOT NULL,
    comentario text,
    "tempoEstadia" integer,
    "valorGasto" numeric(10,2) NOT NULL,
    "criadoEm" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.avaliacoes OWNER TO postgres;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    cpf character varying NOT NULL,
    nome character varying NOT NULL,
    email character varying,
    celular character varying,
    ambiente_id uuid,
    ponto_entrega_id uuid
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: comanda_agregados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comanda_agregados (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    comanda_id uuid NOT NULL,
    nome character varying(100) NOT NULL,
    cpf character varying(11),
    ordem integer DEFAULT 1 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.comanda_agregados OWNER TO postgres;

--
-- Name: comandas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comandas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    status public.comandas_status_enum DEFAULT 'ABERTA'::public.comandas_status_enum NOT NULL,
    "mesaId" uuid,
    "clienteId" uuid,
    "dataAbertura" timestamp without time zone DEFAULT now() NOT NULL,
    "paginaEventoId" uuid,
    ponto_entrega_id uuid,
    criado_por_id uuid,
    criado_por_tipo character varying
);


ALTER TABLE public.comandas OWNER TO postgres;

--
-- Name: empresas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.empresas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    cnpj character varying NOT NULL,
    "nomeFantasia" character varying NOT NULL,
    "razaoSocial" character varying NOT NULL,
    telefone character varying,
    endereco character varying
);


ALTER TABLE public.empresas OWNER TO postgres;

--
-- Name: eventos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.eventos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    titulo character varying NOT NULL,
    descricao text,
    valor numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    ativo boolean DEFAULT true NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp without time zone DEFAULT now() NOT NULL,
    "paginaEventoId" uuid,
    "dataEvento" timestamp without time zone NOT NULL,
    "urlImagem" character varying
);


ALTER TABLE public.eventos OWNER TO postgres;

--
-- Name: fechamentos_caixa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fechamentos_caixa (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    abertura_caixa_id uuid NOT NULL,
    turno_funcionario_id uuid NOT NULL,
    funcionario_id uuid NOT NULL,
    "dataFechamento" date NOT NULL,
    "horaFechamento" time without time zone NOT NULL,
    "valorEsperadoDinheiro" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoPix" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoDebito" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoCredito" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoValeRefeicao" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoValeAlimentacao" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorEsperadoTotal" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoDinheiro" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoPix" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoDebito" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoCredito" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoValeRefeicao" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoValeAlimentacao" numeric(10,2) DEFAULT 0 NOT NULL,
    "valorInformadoTotal" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaDinheiro" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaPix" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaDebito" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaCredito" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaValeRefeicao" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaValeAlimentacao" numeric(10,2) DEFAULT 0 NOT NULL,
    "diferencaTotal" numeric(10,2) DEFAULT 0 NOT NULL,
    "totalSangrias" numeric(10,2) DEFAULT 0 NOT NULL,
    "quantidadeSangrias" integer DEFAULT 0 NOT NULL,
    "quantidadeVendas" integer DEFAULT 0 NOT NULL,
    "quantidadeComandasFechadas" integer DEFAULT 0 NOT NULL,
    "ticketMedio" numeric(10,2) DEFAULT 0 NOT NULL,
    observacao text,
    status character varying DEFAULT 'FECHADO'::character varying NOT NULL,
    "criadoEm" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.fechamentos_caixa OWNER TO postgres;

--
-- Name: funcionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.funcionarios (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying NOT NULL,
    email character varying NOT NULL,
    senha character varying NOT NULL,
    cargo public.funcionarios_cargo_enum DEFAULT 'GARCOM'::public.funcionarios_cargo_enum NOT NULL,
    empresa_id uuid,
    ambiente_id uuid,
    status character varying DEFAULT 'ATIVO'::character varying
);


ALTER TABLE public.funcionarios OWNER TO postgres;

--
-- Name: itens_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.itens_pedido (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    quantidade integer NOT NULL,
    "precoUnitario" numeric(10,2) NOT NULL,
    observacao character varying(255),
    status public.itens_pedido_status_enum DEFAULT 'FEITO'::public.itens_pedido_status_enum NOT NULL,
    "motivoCancelamento" character varying(255),
    "pedidoId" uuid,
    "produtoId" uuid,
    ambiente_retirada_id uuid,
    "iniciadoEm" timestamp without time zone,
    quase_pronto_em timestamp without time zone,
    "prontoEm" timestamp without time zone,
    retirado_em timestamp without time zone,
    "entregueEm" timestamp without time zone,
    "canceladoEm" timestamp without time zone,
    tempo_preparo_minutos numeric(5,2),
    responsavel_inicio_id uuid,
    responsavel_pronto_id uuid,
    responsavel_cancelamento_id uuid,
    retirado_por_garcom_id uuid,
    garcom_entrega_id uuid,
    tempo_reacao_minutos numeric(5,2),
    tempo_entrega_final_minutos numeric(5,2),
    tempoentregaminutos numeric(5,2),
    tempo_entrega_minutos integer
);


ALTER TABLE public.itens_pedido OWNER TO postgres;

--
-- Name: mesas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mesas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    numero integer NOT NULL,
    status public.mesas_status_enum DEFAULT 'LIVRE'::public.mesas_status_enum NOT NULL,
    ambiente_id uuid,
    posicao json,
    tamanho json,
    rotacao integer DEFAULT 0
);


ALTER TABLE public.mesas OWNER TO postgres;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: movimentacoes_caixa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimentacoes_caixa (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    abertura_caixa_id uuid NOT NULL,
    tipo character varying NOT NULL,
    data date NOT NULL,
    hora time without time zone NOT NULL,
    valor numeric(10,2) NOT NULL,
    "formaPagamento" character varying,
    descricao text NOT NULL,
    funcionario_id uuid NOT NULL,
    comanda_id uuid,
    comanda_numero character varying,
    "criadoEm" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.movimentacoes_caixa OWNER TO postgres;

--
-- Name: paginas_evento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paginas_evento (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    titulo character varying(100) NOT NULL,
    url_imagem text,
    ativa boolean DEFAULT true NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.paginas_evento OWNER TO postgres;

--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    status public.pedidos_status_enum DEFAULT 'FEITO'::public.pedidos_status_enum NOT NULL,
    total numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    data timestamp without time zone DEFAULT now() NOT NULL,
    "motivoCancelamento" character varying(255),
    "comandaId" uuid,
    criado_por_id uuid,
    criado_por_tipo character varying,
    entregue_por_id uuid,
    entregue_em timestamp without time zone,
    tempo_total_minutos numeric(5,2)
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- Name: pontos_entrega; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pontos_entrega (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    ambiente_preparo_id uuid NOT NULL,
    mesa_proxima_id uuid,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    posicao json,
    tamanho json,
    empresa_id uuid,
    ambiente_atendimento_id uuid
);


ALTER TABLE public.pontos_entrega OWNER TO postgres;

--
-- Name: produtos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produtos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nome character varying NOT NULL,
    descricao character varying,
    preco numeric(10,2) NOT NULL,
    categoria character varying NOT NULL,
    "urlImagem" character varying(512),
    ativo boolean DEFAULT true NOT NULL,
    "ambienteId" uuid
);


ALTER TABLE public.produtos OWNER TO postgres;

--
-- Name: sangrias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sangrias (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    abertura_caixa_id uuid NOT NULL,
    turno_funcionario_id uuid NOT NULL,
    funcionario_id uuid NOT NULL,
    "dataSangria" date NOT NULL,
    "horaSangria" time without time zone NOT NULL,
    valor numeric(10,2) NOT NULL,
    motivo character varying(255) NOT NULL,
    observacao text,
    "autorizadoPor" character varying(255),
    "autorizadoCargo" character varying(50),
    "criadoEm" timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sangrias OWNER TO postgres;

--
-- Name: turnos_funcionario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.turnos_funcionario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    funcionario_id uuid NOT NULL,
    "checkIn" timestamp without time zone NOT NULL,
    "checkOut" timestamp without time zone,
    "horasTrabalhadas" integer,
    ativo boolean DEFAULT true NOT NULL,
    evento_id uuid,
    "criadoEm" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.turnos_funcionario OWNER TO postgres;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: aberturas_caixa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ambientes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: avaliacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.avaliacoes (id, "comandaId", "clienteId", nota, comentario, "tempoEstadia", "valorGasto", "criadoEm") FROM stdin;
b7ccab8f-c055-47f8-b0bb-7d29b2882d3f	64ecbe00-9c08-477c-b34d-b28b1e727fd0	e30b5749-6d38-43ab-a932-b4a6f124f71b	5	\N	14	21.00	2025-11-12 17:29:01.183096
f5b7c3ff-65f9-46c9-8ec8-8b3d84bfed0f	f3fc2941-c33f-4b5c-8851-c2228d99ca7e	edd1f2d9-f099-4f7b-87c6-69fb1251162b	5	\N	59	50.00	2025-11-14 01:09:57.331501
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comanda_agregados; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comanda_agregados (id, comanda_id, nome, cpf, ordem, created_at) FROM stdin;
\.


--
-- Data for Name: comandas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.empresas (id, cnpj, "nomeFantasia", "razaoSocial", telefone, endereco) FROM stdin;
48ac7710-2f39-497b-8d29-a70952054221	15929437000181	Hebert O Pereira	teste	24998285751	Rua Professor Jo├úo de Deus, 544
ded57eb9-7c67-4a31-a39d-3b289a1fe28f	00.000.000/0000-00	Pub System - Demo	Pub System Demonstra├º├úo LTDA	(11) 99999-9999	Rua Demo, 123 - S├úo Paulo, SP
\.


--
-- Data for Name: eventos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.eventos (id, titulo, descricao, valor, ativo, criado_em, atualizado_em, "paginaEventoId", "dataEvento", "urlImagem") FROM stdin;
d654faa6-f687-4837-917a-ae336d89e8eb	Forr├│		15.00	t	2025-11-12 02:07:00.084657	2025-11-12 02:08:31.166854	0f01d977-300d-4d89-92c9-7f8f5247eacb	2025-11-19 22:00:00	https://storage.googleapis.com/pub-system-media-storage/eventos/1762913310918-hamburguer-artesanal.jpg
\.


--
-- Data for Name: fechamentos_caixa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: funcionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: itens_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mesas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimentacoes_caixa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: paginas_evento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paginas_evento (id, titulo, url_imagem, ativa, criado_em, atualizado_em) FROM stdin;
0f01d977-300d-4d89-92c9-7f8f5247eacb	Noite da Haburguer	https://storage.googleapis.com/pub-system-media-storage/1762913133693-images.jpeg	t	2025-11-12 02:05:04.732746	2025-11-12 02:05:56.60537
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pontos_entrega; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: produtos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sangrias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sangrias (id, abertura_caixa_id, turno_funcionario_id, funcionario_id, "dataSangria", "horaSangria", valor, motivo, observacao, "autorizadoPor", "autorizadoCargo", "criadoEm") FROM stdin;
303dd438-fc65-4ae4-a16f-08d5540823be	ffcd8397-7d46-4b6c-9299-8e24efd885e7	c0141c7a-fadf-4756-926f-c241e7db3ee6	17ba3fe1-e08c-4e03-a565-93f25f4835e1	2025-11-12	17:40:37	50.00	Depositar em cofre	\N	\N	\N	2025-11-12 17:40:37.329055
\.


--
-- Data for Name: turnos_funcionario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 19, true);


--
-- Name: movimentacoes_caixa PK_0b1f15ea93e657fd1c512258629; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_caixa
    ADD CONSTRAINT "PK_0b1f15ea93e657fd1c512258629" PRIMARY KEY (id);


--
-- Name: fechamentos_caixa PK_3274e49515343f73282c3e2a1ca; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fechamentos_caixa
    ADD CONSTRAINT "PK_3274e49515343f73282c3e2a1ca" PRIMARY KEY (id);


--
-- Name: itens_pedido PK_34ba752329a604381e367c431ff; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "PK_34ba752329a604381e367c431ff" PRIMARY KEY (id);


--
-- Name: eventos PK_40d4a3c6a4bfd24280cb97a509e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT "PK_40d4a3c6a4bfd24280cb97a509e" PRIMARY KEY (id);


--
-- Name: aberturas_caixa PK_5b10db9126cb1729b2425e01f78; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aberturas_caixa
    ADD CONSTRAINT "PK_5b10db9126cb1729b2425e01f78" PRIMARY KEY (id);


--
-- Name: pontos_entrega PK_68df8520a28d09d8a72f37442f3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pontos_entrega
    ADD CONSTRAINT "PK_68df8520a28d09d8a72f37442f3" PRIMARY KEY (id);


--
-- Name: sangrias PK_8b06fa757851ce63aac62ae5c46; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sangrias
    ADD CONSTRAINT "PK_8b06fa757851ce63aac62ae5c46" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: paginas_evento PK_9cd8a83a55186b10f83ffea76bc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paginas_evento
    ADD CONSTRAINT "PK_9cd8a83a55186b10f83ffea76bc" PRIMARY KEY (id);


--
-- Name: produtos PK_a5d976312809192261ed96174f3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT "PK_a5d976312809192261ed96174f3" PRIMARY KEY (id);


--
-- Name: funcionarios PK_a6ee7c0e30d968db531ad073337; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcionarios
    ADD CONSTRAINT "PK_a6ee7c0e30d968db531ad073337" PRIMARY KEY (id);


--
-- Name: ambientes PK_a90809c19133ae8e8739e6a0038; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ambientes
    ADD CONSTRAINT "PK_a90809c19133ae8e8739e6a0038" PRIMARY KEY (id);


--
-- Name: mesas PK_ccff054bd3dad6539869d03350c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT "PK_ccff054bd3dad6539869d03350c" PRIMARY KEY (id);


--
-- Name: empresas PK_ce7b122b37c6499bfd6520873e1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT "PK_ce7b122b37c6499bfd6520873e1" PRIMARY KEY (id);


--
-- Name: comanda_agregados PK_d3c32f25ada31514da3507e9a7a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comanda_agregados
    ADD CONSTRAINT "PK_d3c32f25ada31514da3507e9a7a" PRIMARY KEY (id);


--
-- Name: clientes PK_d76bf3571d906e4e86470482c08; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT "PK_d76bf3571d906e4e86470482c08" PRIMARY KEY (id);


--
-- Name: pedidos PK_ebb5680ed29a24efdc586846725; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "PK_ebb5680ed29a24efdc586846725" PRIMARY KEY (id);


--
-- Name: comandas PK_f2a79c4679e1b8f6342d758f964; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comandas
    ADD CONSTRAINT "PK_f2a79c4679e1b8f6342d758f964" PRIMARY KEY (id);


--
-- Name: funcionarios UQ_5536df94d421db7d1a1ba832f0f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcionarios
    ADD CONSTRAINT "UQ_5536df94d421db7d1a1ba832f0f" UNIQUE (email);


--
-- Name: mesas UQ_de482eb027afeca7f01c967e236; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT "UQ_de482eb027afeca7f01c967e236" UNIQUE (numero, ambiente_id);


--
-- Name: empresas UQ_f5ed71aeb4ef47f95df5f8830b8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT "UQ_f5ed71aeb4ef47f95df5f8830b8" UNIQUE (cnpj);


--
-- Name: clientes UQ_fd1214820b9f05720b26a917630; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT "UQ_fd1214820b9f05720b26a917630" UNIQUE (cpf);


--
-- Name: ambientes UQ_fe6aee014c0235d9a1aaaa0245f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ambientes
    ADD CONSTRAINT "UQ_fe6aee014c0235d9a1aaaa0245f" UNIQUE (nome);


--
-- Name: avaliacoes avaliacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT avaliacoes_pkey PRIMARY KEY (id);


--
-- Name: turnos_funcionario turnos_funcionario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turnos_funcionario
    ADD CONSTRAINT turnos_funcionario_pkey PRIMARY KEY (id);


--
-- Name: mesas FK_12bb24cf56933ea8077059a09d8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mesas
    ADD CONSTRAINT "FK_12bb24cf56933ea8077059a09d8" FOREIGN KEY (ambiente_id) REFERENCES public.ambientes(id);


--
-- Name: fechamentos_caixa FK_2df797d5e40e519f337118d2cc7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fechamentos_caixa
    ADD CONSTRAINT "FK_2df797d5e40e519f337118d2cc7" FOREIGN KEY (abertura_caixa_id) REFERENCES public.aberturas_caixa(id) ON DELETE CASCADE;


--
-- Name: movimentacoes_caixa FK_315d05477347317e500c76ab851; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_caixa
    ADD CONSTRAINT "FK_315d05477347317e500c76ab851" FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON DELETE CASCADE;


--
-- Name: pedidos FK_361c6c207367cbe221559bec811; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "FK_361c6c207367cbe221559bec811" FOREIGN KEY ("comandaId") REFERENCES public.comandas(id);


--
-- Name: sangrias FK_363c2c9891a7ed129d65484a6b2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sangrias
    ADD CONSTRAINT "FK_363c2c9891a7ed129d65484a6b2" FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON DELETE CASCADE;


--
-- Name: sangrias FK_394c0e8c1c7d436db9cb0351ea5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sangrias
    ADD CONSTRAINT "FK_394c0e8c1c7d436db9cb0351ea5" FOREIGN KEY (turno_funcionario_id) REFERENCES public.turnos_funcionario(id) ON DELETE CASCADE;


--
-- Name: itens_pedido FK_496c47b9befb817d2595f65a901; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "FK_496c47b9befb817d2595f65a901" FOREIGN KEY ("produtoId") REFERENCES public.produtos(id) ON DELETE SET NULL;


--
-- Name: fechamentos_caixa FK_497dc6b4fedac5912eb3d2fffbd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fechamentos_caixa
    ADD CONSTRAINT "FK_497dc6b4fedac5912eb3d2fffbd" FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON DELETE CASCADE;


--
-- Name: comandas FK_679e9e0345e54f981b51034b4cf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comandas
    ADD CONSTRAINT "FK_679e9e0345e54f981b51034b4cf" FOREIGN KEY ("paginaEventoId") REFERENCES public.paginas_evento(id);


--
-- Name: aberturas_caixa FK_72d24fcf7e83a0c2fa4ccf3e33b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aberturas_caixa
    ADD CONSTRAINT "FK_72d24fcf7e83a0c2fa4ccf3e33b" FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON DELETE CASCADE;


--
-- Name: comandas FK_7f075e9a5fb43047f0b86c52142; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comandas
    ADD CONSTRAINT "FK_7f075e9a5fb43047f0b86c52142" FOREIGN KEY ("clienteId") REFERENCES public.clientes(id);


--
-- Name: itens_pedido FK_ab2b96858c45196d22cce672215; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "FK_ab2b96858c45196d22cce672215" FOREIGN KEY ("pedidoId") REFERENCES public.pedidos(id) ON DELETE CASCADE;


--
-- Name: aberturas_caixa FK_ad88632548e78c5fe2a136f54fa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aberturas_caixa
    ADD CONSTRAINT "FK_ad88632548e78c5fe2a136f54fa" FOREIGN KEY (turno_funcionario_id) REFERENCES public.turnos_funcionario(id) ON DELETE CASCADE;


--
-- Name: comanda_agregados FK_agregado_comanda; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comanda_agregados
    ADD CONSTRAINT "FK_agregado_comanda" FOREIGN KEY (comanda_id) REFERENCES public.comandas(id) ON DELETE CASCADE;


--
-- Name: fechamentos_caixa FK_cfef48411b29c88b74bebc80069; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fechamentos_caixa
    ADD CONSTRAINT "FK_cfef48411b29c88b74bebc80069" FOREIGN KEY (turno_funcionario_id) REFERENCES public.turnos_funcionario(id) ON DELETE CASCADE;


--
-- Name: comandas FK_comanda_ponto_entrega; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comandas
    ADD CONSTRAINT "FK_comanda_ponto_entrega" FOREIGN KEY (ponto_entrega_id) REFERENCES public.pontos_entrega(id) ON DELETE SET NULL;


--
-- Name: sangrias FK_d30159995ed0c6bb83d989e9e87; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sangrias
    ADD CONSTRAINT "FK_d30159995ed0c6bb83d989e9e87" FOREIGN KEY (abertura_caixa_id) REFERENCES public.aberturas_caixa(id) ON DELETE CASCADE;


--
-- Name: comandas FK_daefbeebfbc0738515616077aa3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comandas
    ADD CONSTRAINT "FK_daefbeebfbc0738515616077aa3" FOREIGN KEY ("mesaId") REFERENCES public.mesas(id);


--
-- Name: produtos FK_daf6d14dbfbb283e0a7741a3ba0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produtos
    ADD CONSTRAINT "FK_daf6d14dbfbb283e0a7741a3ba0" FOREIGN KEY ("ambienteId") REFERENCES public.ambientes(id);


--
-- Name: movimentacoes_caixa FK_ed394fea8cc946ff7d9b5b0365f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_caixa
    ADD CONSTRAINT "FK_ed394fea8cc946ff7d9b5b0365f" FOREIGN KEY (abertura_caixa_id) REFERENCES public.aberturas_caixa(id) ON DELETE CASCADE;


--
-- Name: eventos FK_f0449752922ac3048bf729d8615; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.eventos
    ADD CONSTRAINT "FK_f0449752922ac3048bf729d8615" FOREIGN KEY ("paginaEventoId") REFERENCES public.paginas_evento(id);


--
-- Name: itens_pedido FK_item_pedido_ambiente_retirada; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "FK_item_pedido_ambiente_retirada" FOREIGN KEY (ambiente_retirada_id) REFERENCES public.ambientes(id) ON DELETE SET NULL;


--
-- Name: itens_pedido FK_item_pedido_garcom_entrega; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "FK_item_pedido_garcom_entrega" FOREIGN KEY (garcom_entrega_id) REFERENCES public.funcionarios(id) ON DELETE SET NULL;


--
-- Name: itens_pedido FK_item_pedido_retirado_por_garcom; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.itens_pedido
    ADD CONSTRAINT "FK_item_pedido_retirado_por_garcom" FOREIGN KEY (retirado_por_garcom_id) REFERENCES public.funcionarios(id) ON DELETE SET NULL;


--
-- Name: pontos_entrega FK_ponto_entrega_ambiente_atendimento; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pontos_entrega
    ADD CONSTRAINT "FK_ponto_entrega_ambiente_atendimento" FOREIGN KEY (ambiente_atendimento_id) REFERENCES public.ambientes(id) ON DELETE RESTRICT;


--
-- Name: pontos_entrega FK_ponto_entrega_ambiente_preparo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pontos_entrega
    ADD CONSTRAINT "FK_ponto_entrega_ambiente_preparo" FOREIGN KEY (ambiente_preparo_id) REFERENCES public.ambientes(id) ON DELETE CASCADE;


--
-- Name: pontos_entrega FK_ponto_entrega_mesa_proxima; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pontos_entrega
    ADD CONSTRAINT "FK_ponto_entrega_mesa_proxima" FOREIGN KEY (mesa_proxima_id) REFERENCES public.mesas(id) ON DELETE SET NULL;


--
-- Name: turnos_funcionario FK_turno_evento; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turnos_funcionario
    ADD CONSTRAINT "FK_turno_evento" FOREIGN KEY (evento_id) REFERENCES public.eventos(id) ON DELETE SET NULL;


--
-- Name: turnos_funcionario FK_turno_funcionario; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turnos_funcionario
    ADD CONSTRAINT "FK_turno_funcionario" FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON DELETE CASCADE;


--
-- Name: avaliacoes fk_avaliacao_cliente; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT fk_avaliacao_cliente FOREIGN KEY ("clienteId") REFERENCES public.clientes(id) ON DELETE SET NULL;


--
-- Name: avaliacoes fk_avaliacao_comanda; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.avaliacoes
    ADD CONSTRAINT fk_avaliacao_comanda FOREIGN KEY ("comandaId") REFERENCES public.comandas(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict T7SBau4uUfwU1bgWG2VGQajyaXswuk8oYgH25s7mEMH65yZfPZuf975HvTDUZok

