# Dependências
/node_modules
**/node_modules

# Arquivos de Build e Compilação
/dist
/build
/.next

# Arquivos de ambiente - NUNCA ENVIE SENHAS PARA O GITHUB
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db